@model Mvp.Feature.Forms.Models.SendFormModel

@*NAMETOOLONGEXCEPTION--CUSTOM CODE created to load Sitecore Send Form*@
<section class="form background-white">
    <!-- Subcribe-to-Get-Discount Form -->
    <div data-mooform-id="@Model.FormID?.Value" ></div>
</section>