<Project>
    <PropertyGroup  Condition="'$(IsLocalDockerDeploy)'=='true' AND '$(UsingMicrosoftNETSdk)' != 'true'">
        <publishUrl>$(MSBuildThisFileDirectory)docker\deploy\$(SitecoreRoleType)</publishUrl>
        <BuildingInsideVisualStudio Condition="'$(DeployOnBuild)'=='true'">False</BuildingInsideVisualStudio>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <LastUsedBuildConfiguration>$(Configuration)</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <DeleteExistingFiles>False</DeleteExistingFiles>
        <ExcludeFilesFromDeployment></ExcludeFilesFromDeployment>
    </PropertyGroup>
</Project>