@model Component

@* In development only, output the missing component name to help with development and debugging. *@
<environment names="Development">
    <h1>Unknown component '@Model?.Name'</h1>
</environment>
