<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <pipelines>
		  <group groupName="layoutService">
			  <pipelines>
				  <renderJsonRendering>
					  <processor patch:instead="*[@type='Sitecore.LayoutService.Presentation.Pipelines.RenderJsonRendering.ResolveRenderingContents, Sitecore.LayoutService']" type="Mvp.Foundation.LayoutServiceExtensions.Pipelines.RenderJsonRendering.ResolveRenderingContents, Mvp.Foundation.LayoutServiceExtensions" resolve="true" />
				  </renderJsonRendering>
			  </pipelines>
		  </group>
	  </pipelines>
    <services>
      <configurator type="Mvp.Foundation.LayoutServiceExtensions.ServicesConfigurator, Mvp.Foundation.LayoutServiceExtensions" />
    </services>
    <layoutService>
      <configurations>
        <config name="jss">
          <rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
            <renderingContentsResolver type="Sitecore.LayoutService.ItemRendering.ContentsResolvers.RenderingContentsResolver, Sitecore.LayoutService">
			  <patch:attribute name="type" value="Mvp.Foundation.LayoutServiceExtensions.ContentsResolvers.CustomRenderingContentsResolver, Mvp.Foundation.LayoutServiceExtensions" />
            </renderingContentsResolver>
          </rendering>
        </config>
      </configurations>
    </layoutService>
  </sitecore>
</configuration>